*{margin: 0; padding: 0;}
header{font-family: cursive;
    text-transform: capitalize;}
li{
 list-style: none;
}
a{
    text-decoration: none;
}


table { vertical-align: middle; }
.title{
    color: whitesmoke;
    font-family: cursive;
    text-transform: capitalize;
    font-weight: bold;
}
#small{
    font-size:10px;
    
}
#big{
    font-size:40px;
}
header{
    height:75px; background-color: white; border: 1px solid #F2F2F2;
    position: fixed; width: 100%; z-index:9999; top:0; left:0;}
    .menu li{color: black; float:left; font-size: 10px;}
    .menu a{line-height: 70px; color:black; padding: 0 15px; display: block; white-space:none;}
.warpper{
    width: 1170px; margin: 0 auto;

}
.clearfix{content: ''; display: block; clear: both;}
h1{
    color: black; line-height: 75px; float:left;
}
.menu{float:right;}
.small-primary{
    font-size: 10px;
    color:whitesmoke;
}
.blackwhite{
    color: rgb(83, 81, 81);
}


.left{
    float: right;
    color: whitesmoke;
    font-family: cursive;
    text-transform: capitalize;
}
.align-center{
    text-align:center;
    
}
#yellow{
    color:orange;
    font-size:40px;
}
#videobcg{
    position:absolute;
    top:0px;
    left:0px;
    min-width:100%;
    min-height:100%;
    width:1670px;
    height: 1000px;
    z-index: -1000;
    overflow: hidden;
}
